body, html {
    text-align: center;
    overflow-x: hidden;
  }
  .titleContainer {
    font-family: 'PressStart2P-Regular';
    width: 95%;
    height: 50px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(157,255,176);
    border-radius: 30px;
    color: white;
  }


  @media only screen and (max-width: 570px) {
    .titleContainer {
        width: 90%;
        height: auto;
        border-radius: 0px;
    } 
}