.title{
  display: flex;
  flex-direction: column;
}

h2{
  color:#C48D3F;
  font-family: 'PressStart2P-Regular';
}

.score{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
