body, html{
  width: 100%;
  margin: 0;
  padding: 0;
}

.title{
  display: flex;
  flex-direction: column;
}

h2{
  color:#C48D3F;
  font-family: 'PressStart2P-Regular';
  padding: 5px;
}

.score{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


@media only screen and (max-width: 570px) {
  h1{
    font-size: 20px;
  }
  h2 {
      font-size: 15px;
  } 
}
